body {
    font-family: sans-serif;
}

canvas {
    border: 1px solid black;
}

.app_container {
    width: fit-content;
    margin: auto;
}

.label_and_field {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.submit_container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 3px;
    font-size: 0.9em;
    cursor: pointer;
}